.topicos__visitados {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0.5em;
}

.topicos__visitados-titulo {
    font-weight: 300;
    text-transform: uppercase;
    color: var(--branco);
    padding: 1em;
}

.topicos__visitados-lista {
    display: flex;
    flex-wrap: wrap;/*A propriedade CSS flex-wrap define se os itens flexíveis são forçados a ficarem na mesma linha ou se podem ser quebrados em várias linhas.*/
    justify-content: center;
}

.topicos__visitados-item {
    margin: 2em 0.5em;
}

.topicos__visitados-link {
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}